# Restic
RESTIC_REPOSITORY=s3:s3.amazonaws.com/my-backup-bucket
RESTIC_PASSWORD=silne-heslo-pro-sifrovani-zaloh

# S3 credentials (AWS, Minio, Hetzner Storage Box)
AWS_ACCESS_KEY_ID=your-access-key
AWS_SECRET_ACCESS_KEY=your-secret-key

# Backup konfigurace
BACKUP_SOURCE=/opt
BACKUP_INTERVAL=86400
