# Uzivatel a skupina
PUID=1000
PGID=1000
TZ=Europe/Prague

# Cesty k mediim a stazenim
MEDIA_PATH=/mnt/storage/media
DOWNLOADS_PATH=/mnt/storage/downloads

# Porty
JELLYFIN_PORT=8096
SONARR_PORT=8989
RADARR_PORT=7878
PROWLARR_PORT=9696
QBIT_PORT=8080
